.site-container {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;

  .site-header {
    display: flex;
    width: 100%;
    flex-flow: row;
    justify-content: space-between;
    background: black;
    align-items: center;

    @media @navOne {
      flex-direction: column-reverse;
    }
    .header-nav {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: center;
      position: relative;

      .nav-item {
        text-decoration: none;
        color: white;
        font-size: 1.5rem;
        margin: 0 40px;

        @media @navOne {
          padding-bottom: 15px;
          margin: 0 20px;
        }

        @media @navTwo {
          margin: 0 12px;
        }
      }

      .nav-item:hover {
        color: @SIXR-yellow;
      }
    }
    .action-header {
      width: 20%;
      display: flex;
      flex-flow: row nowrap;
      justify-content: flex-end;
      align-items: center;
      margin: 20px 0;

      @media @navOne {
        width: 100%;
        justify-content: center;
      }

      .btn {
        border: none;
        display: flex;
        align-items: center;
        border-radius: 2px;
        font-size: 1.5rem;
        font-family: "Lato";
        font-weight: bold;
      }

      .btn:hover {
        cursor: pointer;
      }

      .project-btn {
        background: @SIXR-pink;
        color: white;
        height: 40px;
        margin: 0 10px;
        padding: 0 10px;
      }

      .project-btn:hover {
        background: tint(@SIXR-pink, 50%);
      }

      .donate-btn {
        background: @SIXR-green;
        color: white;
        height: 40px;
        margin: 0 20px 0 10px;
        padding: 0 10px;
      }

      .donate-btn:hover {
        background: tint(@SIXR-green, 50%);
      }

      .logo-img {
        width: 80px;
        height: 25px;

        @media @navOne {
          margin-bottom: 10px;
        }
      }
    }
  }
  .about-content {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;

    h1 {
      font-size: 5rem;
      padding: 10px;
      margin: 30px;
      border-bottom: 5px dashed @SIXR-blue;
    }

    .content {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-around;
      padding: 40px;

      @media @navOne {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
      }

      .content-box {
        width: 50%;
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-around;
        font-size: 2rem;

        @media @navOne {
          justify-content: center;
          width: 100%;
          margin: 10px;
        }
        h2 {
          font-size: 3rem;

          @media @navOne {
            margin: 10px;
          }
        }
      }

      img {
        width: 40%;

        @media @navOne {
          width: 50%;
        }

        @media @navTwo {
          width: 100%;
        }
      }
    }
    .top-content {
      border-bottom: 5px dashed @SIXR-pink;


    animation-duration: 1s;
    animation-name: slidein;

    @keyframes slidein {
      from {
        margin-left: 100%;
      }

      to {
        margin-left: 0%;
      }
    }
    }

    .middle-content {
      background: @SIXR-color-primary-grey;
      color: white;
      border-bottom: 5px dashed @SIXR-yellow;


    animation-duration: 1s;
    animation-name: slidein-reverse;

    @keyframes slidein-reverse {
      from {
        margin-right: 100%;
      }

      to {
        margin-right: 0%;
      }
    }
    }

    .bottom-content {
      border-bottom: 5px dashed @SIXR-green;


    animation-duration: 1s;
    animation-name: slidein;

    @keyframes slidein {
      from {
        margin-left: 100%;
      }

      to {
        margin-left: 0%;
      }
    }
    }
  }
}
